In [3]:
import pandas as pd
df = pd.read_csv(r"D:\Project\Data_Engineering\DE_Pipeline\src\storage\Comprehensive_Banking_Database.csv")
df.info(), df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 40 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        5000 non-null   int64
 1   First Name                         5000 non-null   object
 2   Last Name                          5000 non-null   object
 3   Age                                5000 non-null   int64
 4   Gender                             5000 non-null   object
 5   Address                            5000 non-null   object
 6   City                               5000 non-null   object
 7   Contact Number                     5000 non-null   int64
 8   Email                              5000 non-null   object
 9   Account Type                       5000 non-null   object
 10  Account Balance                    5000 non-null   float64
 11  Date Of Account Opening            5000 non-null   object
 12  Last Transaction Date              5000 non-null   object
 13  TransactionID                      5000 non-null   int64
 14  Transaction Date                   5000 non-null   object
 15  Transaction Type                   5000 non-null   object
 16  Transaction Amount                 5000 non-null   float64
 17  Account Balance After Transaction  5000 non-null   float64
 18  Branch ID                          5000 non-null   int64
 19  Loan ID                            5000 non-null   int64
 20  Loan Amount                        5000 non-null   float64
 21  Loan Type                          5000 non-null   object
 22  Interest Rate                      5000 non-null   float64
 23  Loan Term                          5000 non-null   int64
 24  Approval/Rejection Date            5000 non-null   object
 25  Loan Status                        5000 non-null   object
 26  CardID                             5000 non-null   int64
 27  Card Type                          5000 non-null   object
 28  Credit Limit                       5000 non-null   float64
 29  Credit Card Balance                5000 non-null   float64
 30  Minimum Payment Due                5000 non-null   float64
 31  Payment Due Date                   5000 non-null   object
 32  Last Credit Card Payment Date      5000 non-null   object
 33  Rewards Points                     5000 non-null   int64
 34  Feedback ID                        5000 non-null   int64
 35  Feedback Date                      5000 non-null   object
 36  Feedback Type                      5000 non-null   object
 37  Resolution Status                  5000 non-null   object
 38  Resolution Date                    5000 non-null   object
 39  Anomaly                            5000 non-null   int64
dtypes: float64(8), int64(11), object(21)
memory usage: 1.5+ MB

(None,
    Customer ID First Name Last Name  Age  Gender    Address          City  \
 0            1     Joshua      Hall   45    Male  Address_1    Fort Worth
 1            2       Mark    Taylor   47  Female  Address_2    Louisville
 2            3     Joseph    Flores   25  Female  Address_3  Philadelphia

    Contact Number                  Email Account Type  ...  \
 0     19458794854    joshua.hall@kag.com      Current  ...
 1     19458794855    mark.taylor@kag.com      Current  ...
 2     19458794856  joseph.flores@kag.com      Current  ...

    Minimum Payment Due Payment Due Date Last Credit Card Payment Date  \
 0               226.22       11/26/2023                     3/20/2023
 1                42.84        11/5/2023                     6/16/2023
 2               162.12         1/8/2023                     3/20/2023

    Rewards Points Feedback ID Feedback Date  Feedback Type  Resolution Status  \
 0            8142           1     10/6/2023     Suggestion           Resolved
 1            4306           2      4/7/2023      Complaint           Resolved
 2            4842           3      9/7/2023         Praise            Pending

    Resolution Date  Anomaly
 0        1/22/2023        1
 1        8/27/2023        1
 2        5/11/2023        1

 [3 rows x 40 columns])

In [4]:
df.describe(include='all')

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,...,Minimum Payment Due,Payment Due Date,Last Credit Card Payment Date,Rewards Points,Feedback ID,Feedback Date,Feedback Type,Resolution Status,Resolution Date,Anomaly
count,5000.000000,5000,5000,5000.000000,5000,5000,5000,5.000000e+03,5000,5000,...,5000.000000,5000,5000,5000.000000,5000.000000,5000,5000,5000,5000,5000.000000
unique,NaN,50,50,NaN,3,5000,40,NaN,2139,2,...,NaN,365,365,NaN,NaN,365,3,2,365,NaN
top,NaN,Timothy,Adams,NaN,Female,Address_5000,San Jose,NaN,emily.adams@kag.com,Savings,...,NaN,11/3/2023,1/14/2023,NaN,NaN,11/20/2023,Suggestion,Pending,9/6/2023,NaN
freq,NaN,124,121,NaN,1727,1,163,NaN,8,2507,...,NaN,28,24,NaN,NaN,29,1689,2504,27,NaN
mean,2500.500000,NaN,NaN,43.469800,NaN,NaN,NaN,1.945880e+10,NaN,NaN,...,124.370134,NaN,NaN,4966.161800,2500.500000,NaN,NaN,NaN,NaN,0.880000
std,1443.520003,NaN,NaN,15.145672,NaN,NaN,NaN,1.443520e+03,NaN,NaN,...,72.340102,NaN,NaN,2901.410915,1443.520003,NaN,NaN,NaN,NaN,0.475021
min,1.000000,NaN,NaN,18.000000,NaN,NaN,NaN,1.945879e+10,NaN,NaN,...,0.070000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,-1.000000
25%,1250.750000,NaN,NaN,30.000000,NaN,NaN,NaN,1.945880e+10,NaN,NaN,...,62.180000,NaN,NaN,2475.250000,1250.750000,NaN,NaN,NaN,NaN,1.000000
50%,2500.500000,NaN,NaN,43.000000,NaN,NaN,NaN,1.945880e+10,NaN,NaN,...,123.080000,NaN,NaN,4950.500000,2500.500000,NaN,NaN,NaN,NaN,1.000000
75%,3750.250000,NaN,NaN,57.000000,NaN,NaN,NaN,1.945880e+10,NaN,NaN,...,186.125000,NaN,NaN,7483.250000,3750.250000,NaN,NaN,NaN,NaN,1.000000
max,5000.000000,NaN,NaN,69.000000,NaN,NaN,NaN,1.945880e+10,NaN,NaN,...,249.860000,NaN,NaN,9999.000000,5000.000000,NaN,NaN,NaN,NaN,1.000000